#modal {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  button, a,
  .details button {
    background-color: #ad343e;
    padding: 5px 35px;
    color: white;
    font-size: 18px;
    border: #333 1px solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  
  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
  }
  
  &:empty {
    display: none;
  }
  
  div {
    background-color: white;
    max-width: 500px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
  }

  .img-wrapper {
    min-width: 280px;
    min-height: 400px;
    
    img {
      width: 280px;
      overflow: hidden;
      object-fit: contain;

        @media screen and (min-width: 769px) {
          width: 320px;
        }
    }
  }

  
  .buttons button {
    display: inline-block;
    margin-right: 15px;
  }
}
