.nav {
  display: flex;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;

  .nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;

    width: 320px;
    max-width: 400px;
    position: relative;
  }

  a {
    justify-self: center;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    .brand__one {
      font-family: 'OpenSans';
      color: rgb(0, 94, 23);
      font-weight: 900;
    }
    .brand__two {
      color: rgb(2, 0, 138);
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        right: 0px;
        display: block;
        width: 155px;
        height: 2px;
        background-color: rgb(2, 0, 138);
      }
    }
  }

  button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: 0;

    img {
      width: 20px;
    }

    &:hover{
      outline: 1px solid rgb(2, 0, 138);
    }
  }
}