ul {
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 3px;

  &:hover {
    filter:brightness(0.8);
  }

  &.selected {
    background-color: antiquewhite;
  }
}