.result {
  min-width: 320px;
  max-width: 1200px;
}

// .loading-dot {

// }

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
  color: rgb(0, 94, 23);
}

@keyframes dots {
  0%, 20% {
    color: rgb(0, 94, 23);
    text-shadow:
      .25em 0 0 rgb(0, 94, 23),
      .5em 0 0 rgb(0, 94, 23);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgb(0, 94, 23),
      .5em 0 0 rgb(0, 94, 23);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgb(0, 94, 23);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}
}

.card-wrapper {
  display: flex;

  &.false-list {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  
  &.true-list {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
}

.result-text {
  text-align: center;
  font-family: 'OpenSans';
  font-weight: 700;
}

.control {
  display: flex;
  align-items: center;

  font-family: 'OpenSans';
  font-weight: 500;

}

.paginate {
  border: 0;
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 3px;
  padding: 6px 3px;

  &.active {
    background-color: antiquewhite;
  }

  &:hover {
    opacity: 70%;
  }
}

.toggle {
  border: 0;
  background-color: transparent;
  cursor: pointer;


  &:hover {
    opacity: 70%;
  }
}