.search-params {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .search-form {
    width: 320px;
    background-color: white;

    display: flex;
    padding: 10px;
    align-items: center;
    min-width: 320px;
    max-width: 480px;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
    }

    input {
      padding: 10px 20px;
      background-color:rgb(245, 245, 245);
      border: 0;
      border-radius: 5px;
      margin-left: 10px;
      &:hover {
        filter: brightness(95%);
      }
    }

    button {
      margin-left: 10px;
      padding: 10px 20px;
      border: 0;
      border-radius: 5px;
      color: teal;

      &:hover {
        filter: brightness(90%);
      }
    }
  }
}
